.azul {
    background-color: blue;
    color: white;
}

.rojo {
    background-color: red;
        color: white;

}

.negrita-subrayado {
    font-weight: bold;
    text-decoration: underline;
        color: white;

}

.marron-cursiva {
    color: brown;
    font-style: italic;
        color: white;

}

.verde-claro {
    background-color: lightgreen;
        color: white;

}
.amarillo-claro {
    background-color: lightyellow;
        color: red;

}


.stock-verde {
    background-color: #c8f7c5;
    color: green;
    font-weight: bold;
}

.stock-amarillo {
    background-color: #fdf6b2;
    color: #b8860b;
    font-weight: bold;
}

.stock-rojo {
    background-color: #f7c5c5;
    color: red;
    font-weight: bold;
}
